.title {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.list {
    font-size: 20px;
    list-style-position: inside;
    list-style-type: none;
}